/* Main Elements */
h1, h2, h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #EDF5E1;
}

body{
    background-color: #7395AE;
    font-family: 'Roboto Serif', serif;
    color: #05386B;
}

footer{
    text-align: center;
    color: #EDF5E1;
}

/* navigation bar elements */
nav{
    text-align: center;
}

nav a:link{
    color: #5D5C61;
}

nav a:visited{
    color: #5D5C61;
}

nav a:hover{
    color: #05386B;
}

nav{
    font-size: 25px;
}


/* Figure Elements */
figcaption{
    font-size: 20px;
    margin-left: 200px;
}

figure{
    margin-left: 0px;
}

/* Table Elements */
table, th, td{
    border: 1px solid #05386B;
}

th{
    background-color: #05386B;
    color: #EDF5E1;
}

table tr:nth-child(even){
    background-color: grey;
}

table tr:nth-child(odd){
    background-color: lightskyblue;
}

/* Class elements */
.LeftAllign{
    color: #05386B;
    text-align: left;
}

.center{
    text-align: center;
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
}

.validator{
    text-decoration: none;
}

/* Anchor Elements */
a{
    text-decoration: none;
}
p a:link, p a:visited{
    color: #EDF5E1;
}
p a:hover{
    color: #05386B;
}

section h3 a:link, section h3 a:visited{
    color: #05386B;
}
section h3 a:hover{
    color: #EDF5E1;
}



/* Form elements */
fieldset{
    border-color: #EDF5E1;
}
button{
    background-color: #05386B;
    color: #EDF5E1;
}
::placeholder{
    color: #05386B;
    font-family: 'Roboto Serif', serif
}




