/* Main Elements */
h1, h2, h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #EDF5E1;
}

body{
    background-color: #7395AE;
    font-family: 'Roboto Serif', serif;
    color: #05386B;
}

footer{
    text-align: center;
    color: #EDF5E1;
}

/* navigation bar elements */
nav{
    text-align: center;
}

nav a:link{
    color: #5D5C61;
}

nav a:visited{
    color: #5D5C61;
}

nav a:hover{
    color: #05386B;
}

nav{
    font-size: 25px;
}


/* Figure Elements */
figcaption{
    font-size: 20px;
    margin-left: 200px;
}

figure{
    margin-left: 0px;
}

/* Table Elements */
table, th, td{
    border: 1px solid #05386B;
}

th{
    background-color: #05386B;
    color: #EDF5E1;
}

table tr:nth-child(even){
    background-color: grey;
}

table tr:nth-child(odd){
    background-color: lightskyblue;
}

/* Class elements */
.LeftAllign{
    color: #05386B;
    text-align: left;
}

.center{
    text-align: center;
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
}

.validator{
    text-decoration: none;
}

/* Anchor Elements */
a{
    text-decoration: none;
}
p a:link, p a:visited{
    color: #EDF5E1;
}
p a:hover{
    color: #05386B;
}

section h3 a:link, section h3 a:visited{
    color: #05386B;
}
section h3 a:hover{
    color: #EDF5E1;
}



/* Form elements */
fieldset{
    border-color: #EDF5E1;
}
button{
    background-color: #05386B;
    color: #EDF5E1;
}
::placeholder{
    color: #05386B;
    font-family: 'Roboto Serif', serif
}

/* Calculator_ try styles */

.calc{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    background-color:#05386B;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calc p{
    text-align: right;
    padding-right: 10px;
}

.display{
    color: #EDF5E1;
}

.number, .operator, .clear, .decimal, .ans, .neg{
    background-color: #EDF5E1;
    border-style: solid;
    border-color:#05386B;
    padding: 10px;
}

.clear{
    width: 100px;
}






/* Calculator_fcc Styles */

div button{
    color: black;
    border-style: solid;
    border-color: black;
}

  
.container > p {
    text-align: center;
}
  
.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}
  
.calculator__display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}
  
.calculator__keys {
    display: grid;
    grid-gap: 0.0px;
    grid-template-columns: repeat(4, 1fr);
}
  
.calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}
  
.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
  
.key--operator {
    background-color: #eee;
}
  
.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}








