<header>
  <h1>♢ ITIS 3135 ♢ Zachary David Gazjuk ♢</h1>

  <nav>
    <a href="index.html">Homepage</a>
    |
    <a href="intro.html">Introduction</a>
    |
    <a href="tables.html">Tables</a>
    |
    <a href="forms.html">Forms</a>
    |
    <a href="contract.html">Contract</a>
    |
    <a href="Stuff/CRapPy WeBSite$$.htm">Crappy</a>
    |
    <a href="website_evaluations.html">Website Evaluation</a>
    |
    <a href ="firstscripts.html">FirstScripts</a>
    |
    <a href="polygons.html">Polygon</a>
    |
    <a href="calculator_try.html">Calculator Try</a>
    |
    <a href="calculator_fcc.html">Calculator</a>
    |
    <a href="accessibility/Gazjuk-Activity_Accessibility.html">Accessibility</a>
    | 
    <a href="arrays.html">Arrays</a>
  </nav>
</header>